/* src/utilities/Clock/Clock.css */

@font-face {
  font-family: "Digital Clock";
  src: url("/src/assets/fonts/digital-7.monoitalic.TTF") format("truetype");
}

.clock-container {
  padding: 1rem;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* width: 100%; */
  box-sizing: border-box;
  cursor: pointer;
}

.digital-display {
  background: #000;
  color: var(--windows-white);
  padding: 10px;
  font-family: "Digital Clock", "MS Sans Serif", "Tahoma", sans-serif;
  font-size: 42px;
  font-weight: bold;
  /* text-align: center; */
  letter-spacing: 4px;
  border-radius: 8px;
  /* width: 100%; */
  /* height: 100%; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* box-sizing: border-box; */
}

.analog-clock svg {
  width: 100%;
  height: 100%;
  display: block;
}

.minute-marker {
  fill: #666;
  /* stroke: #666; */
  /* stroke-width: 0.25; */
}

.clock-hand.hour {
  fill: #000;
}

.clock-hand.minute {
  fill: #000;
}

.clock-hand.second {
  fill: #f00;
}

.clock-center {
  fill: #000;
}