body {
  background: linear-gradient(to bottom, #7047b0, #f5a6ff);
  cursor: url('/src/assets/cursors/3dgarro.cur'), auto;
}

body.loading {
  cursor: url('/src/assets/cursors/hourgla2_st.cur'), wait !important;
}

/* Global font settings */
p,
span,
div,
label,
input,
textarea {
  font-family: var(--main-font);
}

/* Drag and drop areas */
.drop-zone {
  cursor: copy;
}

a, a:link, a:visited, .draggable, .dragging, .moveable, .draggable-item, button {
  cursor: url('/src/assets/cursors/default_link.cur'), pointer;
}