body {
  background: linear-gradient(to bottom, #6d45b0, #f5a7ff);
}

/* Global font settings */
p,
span,
div,
label,
input,
textarea {
  font-family: var(--main-font);
}

/* Drag and drop areas */
.drop-zone {
  cursor: copy;
}

a, a:link, a:visited, .draggable, .dragging, .moveable, .draggable-item, button {
  cursor: url('/src/assets/cursors/default_link.cur'), pointer;
}