/* src/css/MenuBar.css */
.menu-bar {
  height: 34px;
  background-color: var(--windows-bg);
  border-bottom: 2px solid var(--button-border-light);
  display: flex;
}

.menu-bar.hidden {
  display: none;
}

.menu-bar-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: end;
}

.menu-bar-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: start;
}

.menu-bar-center {
  display: flex;
}

.menu-bar-s-button {
  background: transparent;
  border: none;
  font-family: var(--main-font);
  font-weight: bold;
  color: var(--windows-black);
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  padding: 0;
}

.menu-bar-icon {
  height: 24px;
  object-fit: contain;
}

.menu-bar-datetime {
  color: var(--windows-black);
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  min-width: 180px;
  gap: 8px;
}