/* src/css/MenuBar.css */
.menu-bar {
  height: 34px;
  background-color: var(--windows-bg);
  border-bottom: 2px solid var(--button-border-light);
  z-index: 10000;
  display: flex;
}

.menu-bar.hidden {
  display: none;
}

.menu-bar-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: end;
}

.menu-bar-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: start;
}

.menu-bar-center {
  display: flex;
}

.menu-bar-s-button {
  background: var(--windows-bg);
  border-right: 2px solid var(--button-border-dark);
  border-bottom: 2px solid var(--button-border-dark);
  border-left: 2px solid var(--button-border-light);
  border-top: 2px solid var(--button-border-light);
  /* cursor: pointer; */
  font-family: var(--main-font);
  
  font-weight: bold;
  color: var(--windows-black);
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.menu-bar-s-button:active {
  border-right: none;
  border-bottom: none;
  border-left: 2px solid var(--button-border-dark);
  border-top: 2px solid var(--button-border-dark);
}

.menu-bar-s-button:hover {
  background: #d4d4d4;
}

.menu-bar-datetime {
  color: var(--windows-black);
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  min-width: 180px;
  gap: 8px;
} 