/* src/css/MenuBar.css */
.menu-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  background-color: var(--windows-bg);
  border-bottom: 2px solid var(--button-border-light);
  outline: 2px solid var(--button-border-dark);
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 0 8px; */
  font-family: var(--main-font);
  font-size: 16px;
  opacity: 1;
}

.menu-bar.hidden {
  display: none;
}

.menu-bar-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: end;
}

.menu-bar-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: start;
}

.menu-bar-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.menu-bar-clock {
  padding: 0px 10px;
  height: 22px;
  font-size: 20px;
  color: var(--windows-black);
  min-width: 70px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-bar-s-button {
  background: var(--windows-bg);
  border-right: 2px solid var(--button-border-dark);
  border-bottom: 2px solid var(--button-border-dark);
  border-left: 2px solid var(--button-border-light);
  border-top: 2px solid var(--button-border-light);
  cursor: pointer;
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: bold;
  color: var(--windows-black);
  width: 30px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.menu-bar-s-button:active {
  border-right: none;
  border-bottom: none;
  border-left: 2px solid var(--button-border-dark);
  border-top: 2px solid var(--button-border-dark);
}

.menu-bar-s-button:hover {
  background: #d4d4d4;
} 