.retro-window {
  background-color: #fcfcfc;
  border: 2px solid var(--retro-black);
  outline: 3px outset #c0c4c8;
  box-shadow: 0 0 0 5px var(--retro-black);
  min-width: 320px;
  font-family: var(--main-font);
  font-size: 16px;
  animation: windowOpen 0.3s linear;
  transform-origin: center center;
}

.window-title-bar {
  background-color: var(--window-blue);
  border-bottom: 2px solid var(--retro-black);
  color: var(--retro-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.window-title {
  padding: 4px;
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.window-controls {
  display: flex;
  gap: 2px;
}

.window-button {
  background-color: var(--retro-bg);
  border-right: 2px solid var(--button-border-dark);
  border-bottom: 2px solid var(--button-border-dark);
  border-left: 2px solid var(--button-border-light);
  border-top: 2px solid var(--button-border-light);
  box-shadow: 0 0 0 2px var(--retro-black);
  font-size: 20px;
  padding: 1px 10px 2px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--retro-black);
  font-family: var(--main-font);
}

.control-button {
  width: 24px;
  height: 24px;
  font-weight: normal;
}

.window-button:active {
  border-right: none;
  border-bottom: none;
  border-left: 2px solid var(--button-border-dark);
  border-top: 2px solid var(--button-border-dark);
}

.window-content {
  border-top: 3px solid var(--retro-bg);
  overflow: auto;
}

.window-content::-webkit-scrollbar {
  width: 16px;
}

.window-content::-webkit-scrollbar-track {
  background: var(--retro-bg);
  border: 1px inset var(--retro-bg);
}

.window-content::-webkit-scrollbar-thumb {
  background: #808080;
  border: 1px outset #808080;
}

.window-content::-webkit-scrollbar-thumb:hover {
  background: #909090;
}

.retro-window.dragging {
  user-select: none;
}

.retro-window.opening {
  background-color: transparent;
  border: 4px solid var(--button-border-dark);
  outline: none;
  box-shadow: none;
}

.retro-window.opening .window-title-bar,
.retro-window.opening .window-content {
  visibility: hidden;
}

@keyframes windowOpen {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}