.projects-container {
  padding-left: 16px;
  padding-right: 16px;
}

.projects-title {
  font-size: 20px;
  font-weight: bold;
}

.projects-list {
  padding-left: 16px;
  list-style-type: disc;
}

.projects-list li {
  margin-bottom: 8px;
}